.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 15px;
  width: 100%;
  background: transparent; /* Ensuring no background color */
  color: #ffffff;
}

h1 {
  font-size: 2.5rem;
  color: #64c8ef;
  margin-bottom: 30px;
  margin-top: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Slightly smaller font size for tablets */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem; /* Smaller font size for mobile phones */
    margin-bottom: 20px; /* Reduce margin for smaller screens */
  }
}
